.profile__team-info
  max-width: 900px
  text-align: center
  font-family: 'RF Dewi Expanded'
  font-style: normal
  font-weight: 600
  font-size: 16px
  line-height: 160%
  text-align: center
  color: #787D7D
.profile__exit-faceit
  p
    max-width: 900px
    font-family: 'RF Dewi Expanded'
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 160%
    text-align: center
    color: #787D7D
.profile-team__container
  margin: 0px auto 0px
  display: flex
  flex-direction: column
  gap: 64px
  .profile__title-container
    display: flex
    justify-content: center
    align-items: center
    .profile__title__wrapper
      display: flex
      flex-direction: column
      gap: 24px
      align-items: center
      .profile-team
        display: flex
        flex-direction: column
        align-items: center
        position: relative
        .profile-team-banner
          img
            width: 1920px
            height: 260px
        .pfp
          width: 128px
          height: 128px
          position: absolute
          bottom: -60px
      .profile-team__titles
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 60px
        .profile__title
          display: flex
          align-items: center
          gap: 24px
          .profile__title-h3
            font-family: 'RF Dewi Expanded'
            font-style: normal
            font-weight: 700
            font-size: 64px
            line-height: 150%
            text-transform: uppercase
            color: #F7FDFC
            margin: 0
          img
            width: 32px
            height: 32px
        .profile__exit-faceit__container
          display: flex
          gap: 64px
          margin-top: 8px
          .profile__team
            p
              font-family: 'RF Dewi Expanded'
              font-style: normal
              font-weight: 600
              font-size: 16px
              line-height: 160%
              color: #787D7D
              margin: 0
              text-align: center
              margin-bottom: 20px

.Cards-team__container
  display: flex
  justify-content: center
  align-items: center
  margin: 0px auto 925px
  gap: 24px
