.main__wrapper
  .main__1stBlock
    background: linear-gradient(0deg, rgba(22, 22, 22, 0.32), rgba(22, 22, 22, 0.32)), url(Video.png)
    width: 1920px
    height: 976px
    display: flex
    align-items: flex-end
    justify-content: space-between
    .main__Headline1
      color: #46CDC4
    .main__Headline2
      margin: 0px 48px 40px
      font-family: 'RF Dewi Expanded'
      font-style: normal
      font-weight: 700
      font-size: 40px
      line-height: 150%
      text-transform: uppercase
      color: #F7FDFC
      width: 902px
    .main__Button
      margin: 0px 48px 40px
  .main__2stBlock
    background: #141515
    background-image: url(./Background2.png)
    background-position: center
    width: 1920px
    height: 1080px
    display: flex
    justify-content: center
    align-items: center
    .main__TestBody1
      font-family: 'RF Dewi Expanded'
      font-style: normal
      font-weight: 600
      font-size: 32px
      line-height: 160%
      text-align: center
      color: #F7FDFC
      margin: 0
      width: 1516px
  .main__3dBlock
    background-image: url(./Noise1.png)
    .main__3dBlock__container
      display: flex
      justify-content: center
      align-items: center
      margin: 160px 48px
      flex-direction: column
      gap: 150px
      .main__3dBlock-tournaments

        .Block-tournaments__text
          display: flex
          align-items: flex-end
          justify-content: space-between
          h2
            font-family: 'RF Dewi Expanded'
            font-style: normal
            font-weight: 700
            font-size: 64px
            line-height: 150%
            text-transform: uppercase
            color: #F7FDFC
            margin: 0
          .LinkButton
            height: 29px
        .Block-tournaments__cards
          margin-top: 64px
          display: flex
          gap: 24px
