.profile__container
  margin: 99px auto 0px
  display: flex
  flex-direction: column
  gap: 64px
  .profile__title-container
    display: flex
    justify-content: center
    align-items: center
    .profile__title__wrapper
      display: flex
      flex-direction: column
      gap: 24px
      align-items: center
      img
        width: 256px
        height: 256px
      .profile__titles
        display: flex
        flex-direction: column
        align-items: center
        .profile__title
          display: flex
          align-items: center
          gap: 24px
          .profile__title-h3
            font-family: 'RF Dewi Expanded'
            font-style: normal
            font-weight: 700
            font-size: 64px
            line-height: 150%
            text-transform: uppercase
            color: var(--white)
            margin: 0
          img
            width: 32px
            height: 32px
        .profile__exit-faceit__container
          display: flex
          gap: 64px
          margin-top: 8px
.profile__exit-faceit
  p
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 160%
    color: var(--lightGrey)
    margin: 0
.Cards__container
  display: flex
  justify-content: center
  align-items: center
  margin: 0px auto 960px
  gap: 24px
  z-index: 10
.profile__exit-faceit:hover
  cursor: pointer
.tournament__Cards-container
  display: flex
  justify-content: center
  align-items: center
  margin: 0px auto 0px
  gap: 24px
.edit:hover
  cursor: pointer
  stroke: var(--primary)
.edit
  stroke: var(--grey)
.edit:active
  stroke: var(--midPrimary)
.profile__exit-faceit:hover p
  color: var(--primary)
.profile__exit-faceit:active p
  color: var(--midPrimary)

@media screen and (max-width: 1100px)
  .profile__container
    margin: 70px auto 0px
  .Cards__container
    flex-direction: column
    gap: 25px
    margin-bottom: 960px
  .profile__container .profile__title-container .profile__title__wrapper img
    width: 200px
    height: 200px
@media screen and (max-width: 500px)
  .Cards__container
    gap: 16px
    margin-bottom: 995px
  .profile__container
    margin: 24px auto 0px
  .profile__container .profile__title-container .profile__title__wrapper img
    width: 162px
    height: 162px
@media screen and (max-width: 900px)
  .profile__container .profile__title-container .profile__title__wrapper .profile__titles .profile__title .profile__title-h3
    font-size: 50px
@media screen and (max-width: 600px)
  .profile__container .profile__title-container .profile__title__wrapper .profile__titles .profile__title .profile__title-h3
    font-size: 40px
@media screen and (max-width: 450px)
  .profile__container .profile__title-container .profile__title__wrapper .profile__titles .profile__title .profile__title-h3
    font-size: 24px
  .profile__exit-faceitExit
    display: none
