.dropDownNavlink__container
  width: 156px
  height: 92px
  background: #191A1A
  border-radius: 2px
  position: absolute
  top: 38px
  left: 2px
  p
    font-family: 'RF Dewi Expanded'
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 160%
    color: #505353
    margin-left: 16px
  p:hover
    cursor: pointer
