.Card__container
  background: #141515
  background-image: url(./Background.png)
  width: 438px
  height: 234px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  h2
    font-family: 'RF Dewi Expanded'
    font-style: normal
    font-weight: 700
    font-size: 24px
    line-height: 160%
    color: #505353
    margin: 0
  p
    font-family: 'RF Dewi Expanded'
    font-style: normal
    font-weight: 700
    font-size: 40px
    line-height: 150%
    text-transform: uppercase
    color: #F7FDFC
    margin: 0
