.tournament-cards__container
  margin: 160px auto 0px
  /**width: 1920px
  display: flex
  justify-content: center

  .tournament-cards
    padding: 0px 48px
    display: flex
    justify-content: center
    .tournament-name__container
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      gap: 24px
      margin-bottom: 955px
      z-index: 1
      .tournament-name__card
