.modal__info-team__container
  display: flex
  justify-content: space-between
  background: var(--lightBlack)
  border-radius: 4px
  align-items: center
  .modal__info-team__info
    display: flex
    margin: 16px 0px 16px 16px
    gap: 16px
    .modal__info-team__logo

      svg
    .modal__info-team__name-container
      .modal__info-team__name-title
        font-weight: 600
        font-size: 14px
        line-height: 160%
        color: var(--grey)
      .modal__info-team__name-name
        font-weight: 700
        font-size: 24px
        line-height: 160%
        text-align: right
        color: var(--white)
  .modal__info-team__close
    margin-right: 16px
    .pfp
      width: 20px
      height: 20px
@media screen and (max-width: 600px)
  .modal__info-team__container
    .modal__info-team__info
      .modal__info-team__logo
        svg
          width: 48px
          height: 48px
      .modal__info-team__name-container
        .modal__info-team__name-title
        .modal__info-team__name-name
          font-size: 16px
