.header
  background: var(--black)
  color: var(--white)
  position: relative
  overflow: hidden

  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    height: 104px
    padding: 0px 48px

.header__left
  display: flex
  align-items: center
  .header__nav
    margin-left: 64px
    .header__list
      display: flex
      padding: 0
      position: relative
      .header__item
        list-style: none
        margin-right: 64px
        font-family: 'RF Dewi Expanded'
        font-style: normal
        font-weight: 600
        font-size: 18px
        line-height: 160%
        color: var(--white)
        a
          color: var(--white)
        a:hover
          color: var(--primary)
          cursor: pointer
      .tournaments:hover
        color: var(--primary)
        cursor: pointer
.header__right
  display: flex
  align-items: center
.header__player
  font-family: 'RF Dewi Expanded'
  font-style: normal
  font-weight: 600
  font-size: 12px
  line-height: 160%
  color: var(--grey)
  margin: 0
  text-align: right
.header__input
  font-family: 'RF Dewi Expanded'
  font-style: normal
  font-weight: 600
  font-size: 18px
  line-height: 160%
  text-align: right
  color: var(--white)
  margin: 0
  height: 29px
.header__input:hover
  cursor: pointer
  color: var(--primary)
.header__head
  margin-right: 17px
.Divider
  width: 48px
  height: 0px
  border: 1.5px solid var(--black)
  transform: rotate(90deg)
a
  color: var(--white)
.nemu__modal
  display: none
@media screen and (max-width: 1600px)
  .header__left
    .header__nav
      .header__list
        .header__item
          margin-right: 40px
  .Divider
    width: 30px
@media screen and (max-width: 1450px)
  .header__left
    .header__nav
      .header__list
        .header__item
          margin-right: 20px
  .Divider
    width: 15px
@media screen and (max-width: 1250px)
  .header__left
    .header__nav
      margin-left: 30px
      .header__list
        .header__item
          font-size: 16px
  .Divider
  .header__input
    font-size: 16px
  .logotype
    width: 100px
  .header__pfp
    svg
      width: 40px

@media screen and (max-width: 1120px)
  .header__left
    .header__nav
      margin-left: 20px
      .header__list
        .header__item
          font-size: 14px
  .Divider
  .header__input
    font-size: 14px
@media screen and (max-width: 980px)
  .header__left
    .header__nav
      margin-left: 20px
      .header__list
        .header__item
          font-size: 14px
  .Divider
  .header__input
    font-size: 16px
  .logotype
    width: 100px
  .header__pfp
    svg
      width: 40px

  .header__menu-icon
    margin-left: 20px
    z-index: 20
    display: block
    position: relative
    width: 50px
    height: 16px
    cursor: pointer
  .header__menu-icon span,
  .header__menu-icon::before,
  .header__menu-icon::after
    left: 0
    position: absolute
    height: 10%
    width: 100%
    transition: all 0.5s ease-out 0s
    background-color: var(--white)

  .header__menu-icon::before,
  .header__menu-icon::after
    content: ""

  .header__menu-icon::before
    top: 0

  .header__menu-icon::after
    bottom: 0
    width: 30px
    margin-left: 20px
  .header__menu-icon span
    top: 50%
    transform: scale(0) translate(0px, -50%)

  .header__menu-icon._active span
    transform: scale(0) translate(0px, -50%)

  .header__menu-icon._active::before
    top: 50%
    transform: rotate(-45deg) translate(0px, -50%)

  .header__menu-icon._active::after
    top: 50%
    transform: rotate(45deg) translate(0px, -50%)
    width: 50px
    margin-left: 0px
  .header__nav, .header__right
    display: none
  .nemu__modal
    background: var(--black)
    color: var(--white)
    padding-top: 70px
    font-size: 30px
    position: fixed
    top: 0
    left: 100%
    width: 100vh
    height: 100%
    transition: left 1s ease 0s
    display: block
    background-repeat: no-repeat
    background-size: contain

  .nemu__modal._active
    padding-top: 215px
    font-size: 30px
    left: 50%
    width: 100%
    height: 100%
    transition: left 0.3s ease 0s
    z-index: 10

  .nemu__modal-nav
    .nemu__modal-header__list
      margin: 0
      margin-bottom: 142px
      .nemu__modal-header__item
        list-style-type: none
      .nemu__modal-header__item.main
        font-weight: 700
        font-size: 32px
        line-height: 150%
        text-transform: uppercase
        a.active
          color: var(--primary)
      .nemu__modal-header__item.tournament
        font-weight: 700
        font-size: 32px
        line-height: 150%
        text-transform: uppercase
        color: var(--white)
        margin-top: 32px
      .nemu__modal-header__item.tournaments
        margin-top: 16px
        font-weight: 700
        font-size: 16px
        line-height: 160%
        a
          color: var(--lightGrey)
      .nemu__modal-header__item.rating
        font-weight: 700
        font-size: 32px
        line-height: 150%
        text-transform: uppercase
        a
          color: var(--white)
    .nemu__modal-nav-info
      display: flex
      margin: 0px 40px
      justify-content: space-between
      width: 280px

@media screen and (max-width: 700px)
  .nemu__modal-nav .nemu__modal-header__list
    padding-left: 24px
  .nemu__modal-nav .nemu__modal-nav-info
    margin-left: 24px
  .nemu__modal._active
    left: 40%
    z-index: 10

@media screen and (max-width: 550px)
  .nemu__modal._active
    left: 30%

@media screen and (max-width: 450px)
  .nemu__modal._active
    left: 0%
  .header__left
    z-index: 10
  .header__wrapper
    padding: 0px 24px

@media screen and (max-width: 360px)
  .nemu__modal._active
    left: 0%
