.header
  background: var(--black)
  color: var(--white)
  position: relative
  background-image: url(Noise.png)
  overflow: hidden

  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    height: 104px
    padding: 0px 48px
.main__info-container:before,
.main__info-container:after
  content: ''
  position: absolute
  height: 100%
.header:before,
.header:after
  content: ''
  position: absolute
  height: 100%
.main__info-container:before
  position: absolute
  width: 57vw
  height: 42vw
  background: var(--primary)
  opacity: 0.32
  filter: blur(160px)
  transform: rotate(15deg)
  animation: animTop 15s infinite
.main__info-container:after
  position: absolute
  width: 46vw
  height: 46vw
  background: var(--primary)
  opacity: 0.32
  filter: blur(160px)
  z-index: 0
  animation: animBottom 15s infinite
.header:before
  position: absolute
  width: 52vw
  height: 25vw
  background: var(--primary)
  opacity: 0.32
  filter: blur(160px)
  transform: rotate(15deg)
  animation: animTop 15s infinite

.header:after
  position: absolute
  width: 37vw
  height: 35vw
  background: var(--primary)
  opacity: 0.32
  filter: blur(160px)
  z-index: 0
  animation: animBottom 15s infinite
@keyframes animBottom
  0%
    right: -20%
    bottom: -50%

  25%
    right: 0%
    bottom: -50%
  80%
    right: -26%
    bottom: -10%
  100%
    right: -20%
    bottom: -50%

@keyframes animTop
  0%
    top: -19%
    left: -19%

  25%
    top: -21%
    left: -2%
  80%
    top: 0%
    left: -16%
  100%
    top: -19%
    left: -19%

@media screen and (max-width: 400px)
  .main__info-container:after,
  .main__info-container:before
    display: none
  .header:before
    width: 81vw
    height: 64vw
  .header:after
    width: 62vw
    height: 61vw
    bottom: 41%

    right: -11px
    opacity: 6
    animation: animBottom400 15s infinite
@keyframes animBottom400
  0%
    bottom: 41%

    right: -11px

  30%
    bottom: 55%
    right: 7px
  60%
    bottom: 60%
    right: -15px
  100%
    bottom: 41%

    right: -11px
.header__left
  display: flex
  align-items: center
  .header__nav
    margin-left: 64px
    .header__list
      display: flex
      padding: 0
      position: relative
      .header__item
        list-style: none
        margin-right: 64px
        font-family: 'RF Dewi Expanded'
        font-style: normal
        font-weight: 600
        font-size: 18px
        line-height: 160%
        color: var(--white)
        a
          color: var(--white)
        a:hover
          color: var(--primary)
          cursor: pointer
      .tournaments:hover
        color: var(--primary)
        cursor: pointer
.header__right
  display: flex
  align-items: center
.header__player
  font-family: 'RF Dewi Expanded'
  font-style: normal
  font-weight: 600
  font-size: 12px
  line-height: 160%
  color: var(--grey)
  margin: 0
  text-align: right
.header__input
  font-family: 'RF Dewi Expanded'
  font-style: normal
  font-weight: 600
  font-size: 18px
  line-height: 160%
  text-align: right
  color: var(--white)
  margin: 0
  height: 29px
  position: relative
  z-index: 10
.header__input:hover
  cursor: pointer
  color: var(--primary)
.header__head
  margin-right: 17px
.Divider
  width: 48px
  height: 0px
  border: 1.5px solid var(--black)
  transform: rotate(90deg)
a
  color: var(--white)
.nemu__modal
  display: none
@media screen and (max-width: 1600px)
  .header__left
    .header__nav
      .header__list
        .header__item
          margin-right: 40px
  .Divider
    width: 30px
@media screen and (max-width: 1450px)
  .header__left
    .header__nav
      .header__list
        .header__item
          margin-right: 20px
  .Divider
    width: 15px
@media screen and (max-width: 1250px)
  .header__left
    .header__nav
      margin-left: 30px
      .header__list
        .header__item
          font-size: 16px
  .Divider
  .header__input
    font-size: 16px
  .logotype
    width: 100px
  .header__pfp
    svg
      width: 40px

@media screen and (max-width: 1120px)
  .header__left
    .header__nav
      margin-left: 20px
      .header__list
        .header__item
          font-size: 14px
  .Divider
  .header__input
    font-size: 14px
@media screen and (max-width: 980px)
  .header:before
    z-index: 100
  .main__info-container:before,
  .main__info-container:after
    height: 0
  .header__left
    .header__nav
      margin-left: 20px
      .header__list
        .header__item
          font-size: 14px
  .Divider
  .header__input
    font-size: 16px
  .logotype
    width: 113px
  .header__pfp
    svg
      width: 40px

  .header__menu-icon
    margin-left: 29px
    z-index: 200
    display: block
    position: relative
    width: 39px
    height: 16px
    cursor: pointer
    margin-top: -10px
  .header__menu-icon span,
  .header__menu-icon::before,
  .header__menu-icon::after
    left: 0
    position: absolute
    height: 10%
    width: 100%
    transition: all 0.5s ease-out 0s
    background-color: var(--white)

  .header__menu-icon::before,
  .header__menu-icon::after
    content: ""

  .header__menu-icon::before
    top: 0
    width: 39px

  .header__menu-icon::after
    bottom: 0
    width: 24px
    margin-left: 15px

  .header__menu-icon span
    top: 50%
    transform: scale(0) translate(0px, -50%)

  .header__menu-icon._active span
    transform: scale(0) translate(0px, -50%)

  .header__menu-icon._active::before
    top: 50%
    transform: rotate(-45deg) translate(0px, -50%)

  .header__menu-icon._active::after
    top: 50%
    transform: rotate(45deg) translate(0px, -50%)
    width: 50px
    margin-left: 0px
  .header__nav, .header__right
    display: none
  .nemu__modal
    background: var(--black)
    color: var(--white)
    padding-top: 70px
    font-size: 30px
    position: fixed
    top: 0
    left: 100%
    width: 100vh
    height: 100%
    transition: left 1s ease 0s
    display: block
    background-repeat: no-repeat
    background-size: contain

  .nemu__modal._active
    padding-top: 215px
    font-size: 30px
    left: 50%
    width: 100%
    height: 100%
    transition: left 0.3s ease 0s
    z-index: 1000
  .nemu__modal-nav
    .nemu__modal-header__list
      margin: 0
      margin-bottom: 142px
      .nemu__modal-header__item
        list-style-type: none
      .nemu__modal-header__item.main
        font-weight: 700
        font-size: 32px
        line-height: 150%
        text-transform: uppercase
        a.active
          color: var(--primary)
      .nemu__modal-header__item.tournament
        font-weight: 700
        font-size: 32px
        line-height: 150%
        text-transform: uppercase
        color: var(--white)
        margin-top: 32px
      .nemu__modal-header__item.tournaments
        margin-top: 16px
        font-weight: 700
        font-size: 16px
        line-height: 160%
        a
          color: var(--lightGrey)
      .nemu__modal-header__item.rating
        font-weight: 700
        font-size: 32px
        line-height: 150%
        text-transform: uppercase
        a
          color: var(--white)
    .nemu__modal-nav-info
      display: flex
      margin: 0px 40px
      justify-content: space-between
      width: 280px

@media screen and (max-width: 700px)
  .nemu__modal-nav .nemu__modal-header__list
    padding-left: 24px
  .nemu__modal-nav .nemu__modal-nav-info
    margin-left: 24px
  .nemu__modal._active
    left: 40%
    z-index: 1000
  .header:before,
  .header:after
    opacity: 1.32

@media screen and (max-width: 550px)
  .nemu__modal._active
    left: 30%

@media screen and (max-width: 450px)
  .nemu__modal._active
    left: 0%
  .header__left
    z-index: 10
  .header__wrapper
    padding: 0px 24px
  .header:before,
  .header:after
    opacity: 2.5

@media screen and (max-width: 360px)
  .nemu__modal._active
    left: 0%
  .header:before,
  .header:after
    opacity: 4

.header__input-a
  color: var(--white)
  position: relative
.header__input-a:hover
  color: var(--primary)
.header__input-a:active
  color: var(--midPrimary)
