.main__ended-tournaments
  display: flex
  justify-content: center
  align-items: center
  .ended__tournament__container
    display: flex
    align-items: center
    justify-content: center
    gap: 65px
    margin-top: 160px
    margin-bottom: 950px
    .ended__tournament.victory
      p
        color: #46CDC4
    .ended__tournament.defeat
      p
        color: #CD4646
    .ended__tournament
      display: flex
      align-items: center
      flex-direction: column
      p
        margin: 0
        font-family: 'RF Dewi Expanded'
        font-style: normal
        font-weight: 700
        font-size: 24px
        line-height: 160%
      h2
        font-family: 'RF Dewi Expanded'
        font-style: normal
        font-weight: 700
        font-size: 40px
        line-height: 150%
        text-transform: uppercase
        color: #F7FDFC
        margin: 0
    .ended__tournament-VS
      p
        font-family: 'RF Dewi Expanded'
        font-style: normal
        font-weight: 700
        font-size: 32px
        line-height: 150%
        text-transform: uppercase
        color: #505353
        margin: 0
