.tournament__container-info
  display: flex
  align-items: center
  flex-direction: column
  .tournament__info
    display: flex
    justify-content: center
    flex-direction: column
    gap: 64px
    align-items: center
    .tournament__title-info
      font-family: 'RF Dewi Expanded'
      font-style: normal
      font-weight: 700
      font-size: 64px
      line-height: 150%
      text-transform: uppercase
      color: #F7FDFC
      margin: 0
      margin-top: 235px
    .tournament__Cards-container
      display: flex
      justify-content: center
      align-items: center
      margin: 0px auto 0px
      gap: 24px
    .tournament__button-info
      margin-bottom: 127px
      img
  img
    margin-bottom: 40px

.main__tournaments
  display: flex
  max-width: 1824px
  flex-wrap: wrap
  justify-content: space-between
  width: 100%
  gap: 40px
  margin-top: 64px
.main__tournament
  .main__tournament__container
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 160px
    .main__tournament-list
      display: flex
      justify-content: space-between
      max-width: 1824px
      width: 100%
      .tournament-list
        max-width: 450px
        width: 100%
        text-align: center
        border-bottom: 2px solid #46CDC4
        a
          cursor: pointer
          p
            font-family: 'RF Dewi Expanded'
            font-style: normal
            font-weight: 700
            font-size: 24px
            line-height: 160%
            color: #505353
            margin: 0
      .tournament-list.active
        padding-bottom: 16px
        a
          cursor: default
.main__tournament-pagination
  display: flex
  justify-content: center
  align-items: center
  margin-top: 64px
  img
    margin-bottom: 950px
