.tournament__container-info
  display: flex
  align-items: center
  flex-direction: column
  .tournament__info
    display: flex
    justify-content: center
    flex-direction: column
    gap: 64px
    align-items: center
    margin-bottom: 40px
    .tournament__title-info
      font-family: 'RF Dewi Expanded'
      font-style: normal
      font-weight: 700
      font-size: 64px
      line-height: 150%
      text-transform: uppercase
      color: var(--white)
      margin: 0
      margin-top: 235px
      word-wrap: break-word
    .tournament__Cards-container
      display: flex
      justify-content: center
      align-items: center
      margin: 0px auto 0px
      gap: 24px
      z-index: 10
    .tournament__button-info
      margin-bottom: 127px
  .icon-ArrowBottom
    margin-bottom: 40px
    font-size: 24px
  .icon-ArrowBottom:hover
    color: var(--white)
  .icon-ArrowBottom:active
    color: var(--midPrimary)

.main__tournaments
  display: flex
  max-width: 1824px
  flex-wrap: wrap
  justify-content: space-between
  width: 100%
  gap: 40px
  margin-top: 64px
.main__tournament
  .main__tournament__container
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 160px
    .clider
      width: 95vw
      .main__tournament-list
        display: flex
        justify-content: center
        max-width: 1824px
        width: 100%
        .tournament-list:hover
          cursor: pointer
          border-bottom: 2px solid var(--white)
          a
            p
              color: var(--white)
        .tournament-list:active
          cursor: pointer
          border-bottom: 2px solid var(--midPrimary)
          a
            p
              color: var(--midPrimary)
        .tournament-list
          max-width: 23vw
          width: 100%
          text-align: center
          border-bottom: 2px solid var(--grey)
          margin: 0px 8px
          a
            cursor: pointer
            p
              font-style: normal
              font-weight: 700
              font-size: 24px
              line-height: 160%
              color: var(--grey)
              margin: 0
        .tournament-list.active
          padding-bottom: 16px
          border-bottom: 2px solid var(--primary)
          a
            cursor: default
            p
              font-style: normal
              font-weight: 700
              font-size: 24px
              line-height: 160%
              color: var(--primary)
.main__tournament-pagination
  display: flex
  justify-content: center
  align-items: center
  margin-top: 64px
  .pagination__container
    margin-bottom: 953px
.tournament__container-info.Tournament
  .tournament__info
    .tournament__button-info
      width: 368px

@media screen and (max-width: 1100px)
  .tournament__container-info
    .tournament__info
      gap: 20px
      .tournament__Cards-container
        flex-direction: column
        gap: 25px
        margin-bottom: 50px
      .tournament__title-info
        margin-top: 100px
      .tournament__button-info
        margin-bottom: 70px
  .icon-ArrowBottom
    display: none
  .main__tournament .main__tournament__container .clider
    overflow: hidden
    margin-left: 40px
    width: 93vw
    height: 100px
    .main__tournament-list

  .main__tournament .main__tournament__container .clider .main__tournament-list
    left: 0px
    position: relative
    width: 1160px
    justify-content: space-between
    .tournament-list, .tournament-list.active
      width: 450px
      max-width: 26vw
      margin: 0
      a p
        font-size: 20px
    .tournament-list.active
@media screen and (max-width: 1000px)
  .Card-Tournaments__container
    flex-direction: column
    gap: 8px
  .main__tournaments
    gap: 48px
  .Card-Tournaments__container .Card-Tournaments
    width: 40vw

  .main__tournament .main__tournament__container .clider .main__tournament-list
    left: 0px
    position: relative
    width: 1058px
    justify-content: space-between
    .tournament-list, .tournament-list.active
      width: 450px
      max-width: 26vw
      margin: 0
      a p
        font-size: 20px
    .tournament-list.active
  .tournament__container-info .tournament__info .tournament__title-info
    font-size: 56px
@media screen and (max-width: 900px)
  .main__tournament .main__tournament__container .clider
    .main__tournament-list
      width: 960px
      .tournament-list, .tournament-list.active
        a p
          font-size: 18px
      .tournament-list.active
@media screen and (max-width: 800px)
  .main__tournament .main__tournament__container .clider
    .main__tournament-list
      width: 860px
      .tournament-list, .tournament-list.active
        a p
          font-size: 16px
      .tournament-list.active
@media screen and (max-width: 700px)
  .main__tournament .main__tournament__container .clider
    .main__tournament-list
      width: 760px
  .tournament__container-info .tournament__info .tournament__title-info
    font-size: 48px
@media screen and (max-width: 600px)
  .Card-Tournaments__container
    flex-direction: column
    gap: 8px
    width: 95vw
  .main__tournaments
    width: 95vw
  .Card-Tournaments__container .Card-Tournaments
    width: 65vw

  .main__tournament .main__tournament__container .clider
    .main__tournament-list
      width: 750px
  .tournament__container-info .tournament__info .tournament__title-info
    font-size: 40px
    margin-bottom: 48px
    width: 351px
    text-align: center
  .main__tournament .main__tournament__container .clider .main__tournament-list
    .tournament-list
      width: 306px
      max-width: 30vw
    .tournament-list.active
@media screen and (max-width: 500px)
  .Card-Tournaments__container .Card-Tournaments
    width: 72vw
  .main__tournament .main__tournament__container
    margin-top: 131px
  .tournament__container-info .tournament__info
    margin-bottom: 55px
  .main__tournament .main__tournament__container .clider
    .main__tournament-list
      .tournament-list, .tournament-list.active
        a p
          font-size: 16px
      .tournament-list.active
  .tournament__container-info.Tournament
    .tournament__info
      .tournament__button-info
        width: 315px
  .tournament__container-info .tournament__info .tournament__Cards-container
    gap: 16px
    margin-bottom: 25px
  .main__tournament .main__tournament__container .clider .main__tournament-list
    .tournament-list, .tournament-list.active
      width: 306px
      max-width: 36vw
    .tournament-list.active
  .tournament__container-info.Tournament
  .tournament__info
    .tournament__button-info
      width: 320px
@media screen and (max-width: 400px)
  .main__tournament
    overflow: hidden
  .main__tournament .main__tournament__container .clider .main__tournament-list
    gap: 8px
    width: fit-content
  .main__tournament .main__tournament__container .clider .main__tournament-list
    .tournament-list, .tournament-list.active
      width: 222px
      max-width: 46vw
      padding-bottom: 5px
      max-width: inherit
    .tournament-list.active
  .tournament__container-info .tournament__info .tournament__title-info
    font-size: 32px
    width: 322px
    margin-top: 120px
    margin-bottom: 30px
  .main__tournament .main__tournament__container .clider
    height: 58px
    margin-left: 0px
    height: auto

    position: relative
    left: 11px

  .main__tournaments
    margin-top: 48px
  .Card-Tournaments__container .Card-Tournaments
    height: 9px
  .main__tournament-pagination .pagination__container
    margin-bottom: 1000px

@media screen and (max-width: 1900px)
  .main__tournaments
    width: 95vw
@media screen and (max-width: 1400px)
  .main__tournaments
    flex-direction: column
    width: 70vw
  .Card-Tournaments__container
    width: 70vw
