:root
  --primary: #46CDC4
  --midPrimary: #2BA199
  --darkPrimary: #0E1A10
  --black: #141515
  --lightBlack: #191A1A
  --grey: #505353
  --lightGrey: #787D7D
  --white: #F7FDFC
  --red: #CD4646
  --midRed: #A12B2B

body
  margin: 0
  background: var(--lightBlack)
  position: relative
a
  outline: none
  text-decoration: none
  cursor: pointer
._container
  max-width: 1920px
  margin: 0px auto

h3, h2, h1, p, li, ul
  font-family: 'RF Dewi Expanded'
  font-style: normal
  margin: 0
  margin: 0
  position: relative

.highlight1
  position: absolute
  width: 45vw
  height: 45vw
  background: var(--primary)
  opacity: 0.32
  filter: blur(160px)
  z-index: 0
  bottom: -320px
  right: -160px
  animation: effect 5s infinite

.highlight2
  position: absolute
  width: 55vw
  height: 19vw
  background: var(--primary)
  opacity: 0.32
  filter: blur(160px)
  transform: rotate(15deg)
  animation: effect2 5s infinite

.modal__team
  overflow: hidden
  position: relative
.modal__info-container:before,
.modal__info-container:after
  content: ''
  position: absolute
  height: 100%
.modal__info-container:before
  position: absolute
  width: 55vw
  height: 19vw
  background: var(--primary)
  opacity: 0.32
  filter: blur(160px)
  transform: rotate(15deg)
  top: -380px
  left: -550px
.modal__info-container:after
  position: absolute
  width: 45vw
  height: 45vw
  background: var(--primary)
  opacity: 0.32
  filter: blur(160px)
  z-index: 0
  bottom: -800px
  right: -500px
.modal
  position: relative
  overflow: hidden
