:root
  --restColor: #505353
  --hoverColor: #46CDC4
  --activeColor: #2BA199

  body
    margin: 0
    background: #191A1A
    position: relative
a
  outline: none
  text-decoration: none
  cursor: pointer
._container
  max-width: 1920px
  margin: 0px auto

h3, h2, h1, p, li, ul
  font-family: 'RF Dewi Expanded'
  font-style: normal
  margin: 0
  margin: 0
