.header__title
  height: 416px
  display: flex
  justify-content: center
  align-items: center
  h2
    font-family: 'RF Dewi Expanded'
    font-style: normal
    font-weight: 700
    font-size: 64px
    line-height: 150%
    text-transform: uppercase
    color: #F7FDFC
    margin: 0
.privacy__2ndBlock
  display: flex
  justify-content: center
  align-items: center
  .privacy__info-container
    margin-top: 160px
    /**width: 1516px
    margin-bottom: 100px
    .privacy__block-text
      margin-bottom: 65px
      h3
        font-family: 'RF Dewi Expanded'
        font-style: normal
        font-weight: 700
        font-size: 32px
        line-height: 150%
        text-transform: uppercase
        color: #F7FDFC
        margin: 0
        margin-bottom: 25px
      p
        font-family: 'RF Dewi Expanded'
        font-style: normal
        font-weight: 400
        font-size: 32px
        line-height: 160%
        color: #787D7D
        margin: 0
        margin-bottom: 15px
